version: "3.8"
services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports: 
      - "8000:8000"
      - "443:443"
    volumes:
      - .:/var/www
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ../../_env/server.crt:/etc/ssl/certs/server.crt
      - ../../_env/server.key:/etc/ssl/private/server.key
    depends_on:
      - app
    networks:
      - laravel
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - .:/var/www
      - ../../_env/.env:/var/www/.env:ro
    networks:
      - laravel
    depends_on:
      - db
      - redis
    command: bash -c "chown -R www-data:www-data storage bootstrap/cache && php-fpm"
    expose:
      - "9000"
  
  db:
    image: mysql:8.0
    container_name: laravel_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - laravel
  
  redis:
    image: redis:alpine
    networks:
      - laravel
    
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - laravel
    restart: unless-stopped 

  db-backup:
    image: mysql:8.0
    container_name: db_backup
    command: >
      bash -c "
      while true; do
        mysqldump -h db -u root -proot laragigs > /backup/laragigs_$(date +%F_%H-%M-%S).sql;
        sleep 86400;
      done"
    volumes:
      - ./backup:/backup
    depends_on:
      - db
    networks:
      - laravel
    restart: unless-stopped 
networks:
  laravel:

volumes:
  db_data: